.backAndfen{
position: fixed;
    top: 0;
    width: 90%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 0.8rem;
    margin:  0.2rem 0.35rem;
    /*background-color: #ff6700;*/
}
.backAndfen div{
    position: relative;
    width: 0.6rem;
    height: 0.6rem;
    border-radius: 50%;
    background-color: rgba(0, 0, 0, 0.79);
    color: white;
    /*padding: 5px;*/
    /*box-sizing: border-box;*/
    text-align: center;
}
.backAndfen div i{
position: absolute;
    top: 0.05rem;
    right: 0.12rem;
    font-size: 0.35rem;
    text-align: center;

}
.backAndfen div i:first-child{


}