.notgoods{
    width: 70%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0.5rem auto;
    font-size: 0.5rem;
    background-color: transparent;
    /*background-color: #ff6700;*/
}
.notgoods button{
    font-size: 0.3rem;
    padding: 0.1rem 0.2rem;
    border: 1px solid #999999;
    background-color: white;
}
.notgoods img{
    width: 0.65rem;
}
